@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-header">
    <div class="container">
        <div class="about-words">
            <h1>About Me</h1>
            <p>I am a junior web developer, recently finishing a six-month bootcamp in Seattle, WA called Epicodus. Through the use of pair programming and the flipped classroom design, I learned the fundamentals of web development. Front-end languages and skills include HTML, CSS, JavaScript, jQuery, and Bootstrap. Back-end skills include C#, .NET, and SQL. Additional tools include Nancy, Razor, Node, and Git.</p>
            <p>Prior to Epicodus, I received a M.S. in Psychology with an emphasis in Human Factors where I learned UX principles and conducted research. I have always been passionate about making products more intuitive for users and with my web development skills I can apply my UX education to create amazing products.</p>
            <p>I love to travel and this love stemmed from my experience growing up in Switzerland and England. My understanding of different cultures and ideas make me very open to the needs of different users, improving the designs I create.</p>
        </div>
    </div>
</div>